div {
    width: 400px;
    height: 200px;
    background-color: #FFD700;
    border-radius: 50px;
    border: 20px tomato groove;
    background-image: url("seahorse.png");
    background-repeat: no-repeat;
}