div {
    width: 500px;
    height: 800px;
    background-color: red;
    border-radius: 50px;
    border: 20px groove tomato;
    background-image: url("seahorse.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
}